@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url('../font/pacifico/Pacifico-Regular.ttf') format('truetype');
  font-display: swap;
}

.logo {
  margin-bottom: 0.5em;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}
