{% extends "base.html" %}

{% block title %}
  {{ app }} | About
{% endblock %}

{% block content %}
  <h2 class="subtitle">About</h2>
  <div class="content">
    <p>
      Tired of missing out on holidays and special occasions in your country or
      region? Do you often find yourself wondering if there's a holiday
      today or not? Well, say goodbye to those Holy Moly moments with our
      new service: <strong><a href="/" class="pacifico">{{ app }}</a></strong>
    </p>
    <p>
      With <strong><a href="/" class="pacifico">{{ app }}</a></strong>, you'll never miss a beat (or a holiday) again.
      So subscribe to one of our calendars and say goodbye to those Holy Moly moments!
    </p>
  </div>
{% endblock %}
