<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Download ICS files for holidays in multiple countries and regions. Stay up-to-date and plan ahead with our comprehensive list of holiday calendars.">
    <title>{% block title %}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="content">
          <h1><a href="/" class="title pacifico logo">{{ app }}</a></h1>
          {% block content %}{% endblock %}
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <div class="container">
          <div class="columns is-desktop">
            <div class="column is-two-thirds-desktop is-full-mobile">
              <p>
                <strong><a href="/" class="pacifico">{{ app }}</a></strong> is being put together by
                <a href="https://gitlab.com/juanitobananas" target="_blank" rel="noopener">juanitobananas</a>.
              </p>
              <p class="is-size-8">
                The actual credit should go to
                <a href="https://github.com/vacanza/python-holidays" target="_blank" rel="noopener">python-holidays</a>'
                contributors, who are the ones who do the hard work of collecting the holiday
                dates from a myriad of sources. And also to <a href="https://gitlab.com/" target="_blank" rel="noopener">GitLab</a>,
                for allowing (more or less) easy static page generation and free hosting. And while I'm on it,
                also to <a href="https://github.com/ics-py/ics-py" target="_blank" rel="noopener">ics-py</a>, to
                <a href="https://github.com/flyingcircusio/pycountry" target="_blank" rel="noopener">pycountry</a>. And to
                <a href="https://twemoji.twitter.com/" target="_blank" rel="noopener">Twemoji</a> for creating such cool emojis,
                one of which I'm using as favicon (and logo) for this project. Also to the people at
                <a href="https://favicon.io" target="_blank" rel="noopener">favicon.io</a>, for allowing me to create a favicon
                super easily. Also to the creators of the very cool font called Pacifico used for the title of this website.
                And to everybody else I am forgetting 😅
              </p>
              <p class="is-size-8">
                The project is open source and can be found
                <a href="https://gitlab.com/holymolydays/holymolydays.gitlab.io" target="_blank" rel="noopener">here</a>.
              </p>
                <p>
                  Last updated on {{ now }}
                  (commit: <a href="https://gitlab.com/holymolydays/holymolydays.gitlab.io/-/tree/{{ commit_sha }}" target="_blank" rel="noopener">{{ commit_sha[:8] }}</a>)
                  <br>
                  (pipeline: <a href="{{ pipeline_url }}" target="_blank" rel="noopener">#{{ pipeline_id }}</a>)
                </p>
            </div>
            <div class="column is-one-third-desktop is-full-mobile">
              <p><strong>(Ir)relevant Stuff</strong></p>
              <a href="/about">About</a><br/>
              <a href="/privacy">Privacy Policy</a><br/>
              <a href="/impressum">Impressum (German legalese)</a><br/>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
