{% extends "base.html" %}

{% block title %}
  {{ app }}
{% endblock %}

{% block content %}
  <div class="content">
    <p>
      Welcome!
    </p>
    <p>
      <a href="#ics-list">Here</a> is the list of countries you can download a
      holidays .ics file for.
    </p>
    <p>
      Depending on your device and operating system, you might be able to open the
      'subscribe' link. If that works, you'll likely see the events in the calendar
      app and receive automatic updates. If not, you can download the .ics file
      manually and add it to your calendar app.
    </p>
    <p>
      Please search the Internet for instructions specific to your specific device.
      I'm sure you'll manage :)
    </p>
    <h2 id="ics-list" class="title is-5">List of countries</h2>
    {{ ics_list_content }}
  </div>
{% endblock %}
