{% extends "base.html" %}

{% block title %}
  {{ app }} | Privacy Policy
{% endblock %}

{% block content %}
  <h2 class="subtitle">Privacy Policy</h2>
  <div class="content">
    <h3 class="subtitle is-5">Data collected by me</h3>
    <p>I, that is, the developer, do not collect any personal information whatsoever.</p>

    <h3 class="subtitle is-5">Data collected by GitLab Pages</h3>
    <p>
      This page is hosted using
      <a href="https://docs.gitlab.com/ee/user/project/pages/" target="_blank" rel="noopener">GitLab Pages</a>.
      You therefore access their servers by viewing this site or downloading the ICS files.
    </p>
    <p>
      Please refer to the <a href="https://about.gitlab.com/privacy/" target="_blank" rel="noopener">GitLab Privacy Statement</a>
      for more information on how GitLab handles your data.
    </p>

    <h3 class="subtitle is-5">Email communication</h3>
    <p>
      If you contact me per email, I will exclusively use your contact data to
      process your inquiry.
    </p>
    <p>
      Please feel free to contact me, e.g. per email
      (<a href="mailto:{{ email }}">{{ email }}</a>), if you want me to
      delete your data.
    </p>
  </div>
{% endblock %}
